*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
.coreAdvantageChart{
    position: relative;
}
#chart-container{
    height: 100vh;
    overflow: hidden;
}
.imgContainer{
    z-index: 999;
    width: 210px;
    height: 210px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;      
    background-color: #fff;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
.imgContainer img{
    width: 120px;
}
.firstContent{
    text-align: left;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35%; left: 33%;
}
.firstContent h1{
    z-index: 99;
    color: #fff;
    font-size: 24px;
}
.firstContent p{
    z-index: 99;
    color: #EE715D;
}
.secondContent{
    text-align: left;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 67%; left: 47%;
}
.secondContent h1{
    z-index: 99;
    color: #fff;
    font-size: 24px;
}
.secondContent p{
    z-index: 99;
    font-size: 14px;
    color: #F39C8E;
}
.thirdContent{
    display: flex;
    text-align: left;
    flex-direction: column;
    position: absolute;
    top: 37%; right: 31%;
}
.thirdContent h1{
    z-index: 99;
    color: #fff;
    font-size: 24px;
}
.thirdContent p{
    z-index: 99;
    font-size: 14px;
    color: #EE715D;
}
.chartAnimtionIcons img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.chartAnimtionIcons p{
    color: gray;
    font-size: 14px;
    padding-top: 10px;
}
.firstAnimtionIcon{
    width: 100px;
    z-index: 9999;
    position: absolute;
    top: 30%; left: 22%;
}

.firstAnimtionIconPlusLine .line{
    width: 200px;
    height: 2px;
    z-index: -1;
    position: absolute;
    top: 18%; left: 50%;
    background-color: #DA3D25;
}
.firstAnimtionIcon a{
    opacity: 0;
    color: #DA3D25;
    pointer-events: none;
    text-decoration: none;
    display: inline-block;
    transition: all 1s ease;
    transform: translateY(20px);
}
.firstAnimtionIcon:hover a{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    text-decoration: underline;
}
.secondAnimtionIcon{
    z-index: 999;
    width: 100px;
    position: absolute;
    top: 30%; right: 22%;
}
.secondAnimtionIconPlusLine .line{
    width: 200px;
    height: 2px;
    z-index: -1;
    position: absolute;
    top: 20%; right: 55%;
    background-color: #EE715D;
}
.secondAnimtionIcon a{
    opacity: 0;
    color: #DA3D25;
    pointer-events: none;
    text-decoration: none;
    display: inline-block;
    transition: all 1s ease;
    transform: translateY(20px);
}
.secondAnimtionIcon:hover a{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    text-decoration: underline;
}
.thirdAnimtionIcon{
    z-index: 999;
    width: 100px;
    position: absolute;
    top: 65%; right: 22%;
}
.thirdAnimtionIconPlusLine .line{
    width: 250px;
    height: 2px;
    z-index: -1;
    position: absolute;
    top: 30%; right: 55%;
    background-color: #EE715D;
}
.thirdAnimtionIcon a{
    opacity: 0;
    color: #DA3D25;
    pointer-events: none;
    text-decoration: none;
    display: inline-block;
    transition: all 1s ease;
    transform: translateY(20px);
}
.thirdAnimtionIcon:hover a{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    text-decoration: underline;
}
.chartAnimtionIcons > div{
    visibility: hidden;
}
.firstContent h1,
.firstContent p{
    visibility: hidden;
}
.secondContent h1,
.secondContent p{
    visibility: hidden;
}
.thirdContent h1,
.thirdContent p{
    visibility: hidden;
}

@media (max-width:981px){
    #chart-container{
        height: 60vh;
    }
    .firstContent{
        top: 40%; left: 27%;
    }
    .secondContent{
        top: 60%; left: 45%;
    }
    .thirdContent{
        top: 40%; right: 9%;
    }
    .chartAnimtionIcons .line{
        display: none;
    }
    .firstAnimtionIcon{
        top: 80%; left: 20%;
    }
    .secondAnimtionIcon{
        top: 80%; left: 40%;
    }
    .thirdAnimtionIcon{
        top: 80%; left: 60%;
    }
}